.quiz_nav {
    text-align: center;
    height:20px;
}

.quiz_ul {
    float:left;
}

.quiz_ul::after{
    clear: both;
}

li {
    display: inline;
    margin:5px 5px;
}

a {

    display: inline-block;
    width: 50px;
    padding: 10px 0;
    background-color: yellow;
    border: 1px solid red   ;
}